<%= link_to "MAJ des liens sémantiques","/maj" %><br />
<%= link_to "Gestion des tags","/tags" %><br />
<%= link_to "Gestion des articles","/articles" %><br />
<%= link_to "Gestion des equivalences","/equivalences" %><br />
<%= link_to "Gestion des implications","/implications" %><br />
<%= link_to "Sphere 3D","/sphere" %><br />
<h1>Nuage de tag </h1>
<div id="tags">
<%
	@html = ""
	if params[:tag].nil?
		Tag.all.each do |tag|
			@html << link_to(tag.name,"/home?tag="+tag.id.to_s)+" "
		end
	else
		@html << "Tag sélectionné: "
		tags_id = []
		tags_id_s = params[:tag].split("-")
		tags_id_s.each do |tag_id_s|
			tags_id << tag_id_s.to_i
			@html << Tag.find(tag_id_s.to_i).name + " "
		end
		@html << "<br />"
		@html << link_to("retour","/home")
		@html << "<br />"
		l = Links.find_all_by_id_tag(tags_id)
		if l.size>0
			l.each do |link|
				if !tags_id.find{|id| id == link.tag_id}
					tag = Tag.find(link.tag_id)
					@html << link_to(tag.name,"/home?tag="+params[:tag]+"-"+tag.id.to_s)+" "
				end
			end
		else
			@html << "Pas de mot clé associé"
		end
	end

%>
<%= tags_id %>
<%= raw @html %>
</div>
<table>
<% 
	Article.all.each do |article|
		affichage = false
		if !params[:tag].nil?
			affichage = true
			tags_article = []
			ArticlesTags.where(:article_id=>article.id).each do |item|
				tags_article << item.tag_id.to_i
			end
			tags_id.each do |id_tag|
				if !tags_article.find{|id| id == id_tag }
					affichage = false
				end
				
				Implication.where(:tag_1=>Tag.find(id_tag).name).each do |imp_a|
					if tags_article.find{|id| id == Tag.where(:name=>imp_a.tag_2).first.id.to_i}
						affichage = true
					end
				end
				Implication.where(:tag_2=>Tag.find(id_tag).name).each do |imp_b|
					if tags_article.find{|id| id == Tag.where(:name=>imp_b.tag_1).first.id.to_i}
						affichage = true
					end
				end
			end
		else
			affichage = true
		end
		if affichage
%>
	<tr>
		<td><h1><%= article.title %></h1></td>
	</tr>
	<tr>
		<td><h3>
		<% ArticlesTags.where(:article_id=>article.id).each do |item| %>
			<%= Tag.find(item.tag_id).name+" "%>
		<% end %>
		</h3></td>
	</tr>
	<tr>
		<td><%= article.content %></td>
	</tr>
<% 
		end
	end 
%>
</table>