<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= link_to 'Voir', article %></td>
    <td><%= link_to 'Editer', edit_article_path(article) %></td>
    <td><%= link_to 'Detruire', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel article', new_article_path %>

<br />
<%= link_to("retour","/home") %>
