<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= link_to 'Voir', tag %></td>
    <td><%= link_to 'Editer', edit_tag_path(tag) %></td>
    <td><%= link_to 'Detruire', tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau Tag', new_tag_path %>
<br />
<%= link_to("retour","/home") %>