<p id="notice"><%= notice %></p>

<p>
  <b>Tag 1:</b>
  <%= @implication.tag_1 %>
</p>

<p>
  <b>Tag 2:</b>
  <%= @implication.tag_2 %>
</p>


<%= link_to 'Edit', edit_implication_path(@implication) %> |
<%= link_to 'Back', implications_path %>
